//!Colours //
///Primary //
$primary:hsl(0, 36%, 70%);
$secondary: hsl(0, 93%, 68%);
// /// Neutral ///
$DarkGrayishRed: hsl(0, 6%, 24%);
//! Selector colors */
$selector_1: '--primary';
$selector_2: '--secondary';
$selector_3: '--DarkGrayishRed';
// $selector_6: '--darkBlue';
//! Font size
$font-base: 'Josefin Sans',
'Sans-Serif';
$general-font-size:16px;